body {
  margin: 0;
}
/* welcome-section */
.welcome-section {
  background: rgb(194, 193, 48);
  background: linear-gradient(
    139deg,
    rgba(194, 193, 48, 1) 0%,
    rgba(124, 60, 175, 1) 100%
  );
  height: 100vh;
  padding-top: 40px;
  position: relative;
}

.logo-vector {
  position: absolute;
  right: 0;
  bottom: -332px;
}

header {
  max-width: 1100px;
  margin: 0 auto;
}

.header-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-btn img {
  cursor: pointer;
}

.welcome-section-title {
  display: flex;
  margin-top: 100px;
  margin-left: 165px;
  justify-content: start;
  align-items: center;
}

.welcome-section-title h2 {
  display: flex;
  align-items: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 80px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0.05em;
  text-align: left;
  text-transform: uppercase;
  position: relative;
}

.bsb-text {
  background: linear-gradient(193.03deg, #2d2650 51.6%, #dfdc01 51.62%);
  -webkit-text-stroke: 2px #2d2650;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
}

.biznes-text {
  font-size: 40px;
  font-weight: 400;
  color: transparent;
  -webkit-text-stroke: 4px #ffffff;
  text-shadow: none;
  margin-left: 15px;
}

.welcome-section-suptitle {
  margin-left: 165px;
}

.welcome-section-suptitle p {
  font-family: 'Handjet', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 33.53px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #2d2650;
  margin: 0;
}

@media (max-width: 1100px) {
  header {
    max-width: 540px;
  }
}

/* Menu */

.welcome-menu {
  background: rgb(178, 178, 178);
  background: linear-gradient(
    55deg,
    rgba(178, 178, 178, 1) 0%,
    rgba(68, 67, 69, 1) 100%
  );
  height: 100vh;
  padding-top: 40px;
  position: relative;
  display: none;
}

.header-container {
  min-width: 1100px;
  margin: 0 auto;
}

.logo-menu {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.logo-menu-small {
  display: none;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.header-menu-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.menu-search {
  position: relative;
  max-width: 730px;
  width: 100%;
}

.menu-search img {
  position: absolute;
  left: 18px;
  top: 13px;
}

.menu-search input {
  border: none;
  background: linear-gradient(
    135.72deg,
    rgba(255, 255, 255, 0.4) 7.57%,
    rgba(255, 255, 255, 0.1) 56.52%
  );
  border: 2px solid rgba(245, 245, 245, 0.2);
  padding: 14px 0 14px 54px;
  gap: 10px;
  border-radius: 7px;
  width: 100%;
  outline: none;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 50px;
  margin-top: 50px;
}

.menu-grid-item h2 {
  font-family: 'Handjet', sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 27.94px;
  letter-spacing: 0.05em;
  text-align: left;
  color: rgba(45, 38, 80, 1);
}

.menu-grid-item a {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.12px;
  letter-spacing: 0.05em;
  text-align: left;
  color: rgba(245, 245, 245, 1);
  margin: 12px 0;
  text-decoration: none;
  transition: 0, 3s;
  display: flex;
}

.menu-grid-item a:hover {
  color: rgb(94, 92, 88);
}

.menu-review {
  background: rgb(202, 199, 75);
  background: linear-gradient(
    180deg,
    rgba(202, 199, 75, 1) 0%,
    rgba(217, 189, 255, 1) 100%
  );
  border: 3px solid;
  border-radius: 5px;
  border-image-source: linear-gradient(
    135.72deg,
    rgba(255, 255, 255, 0.4) 7.57%,
    rgba(255, 255, 255, 0.1) 56.52%
  );
  box-shadow: 0px 1px 24px -1px rgba(0, 0, 0, 0.1);

  max-width: 460px;
  padding: 30px 54px;
}

.review-text h2 {
  font-family: 'Handjet', sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 27.94px;
  letter-spacing: 0.05em;
  text-align: left;
  color: rgba(45, 38, 80, 1);
  margin: 0 0 24px 0;
}

.review-text p {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.29px;
  letter-spacing: 0.05em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  margin: 0 0 24px 0;
}

.review-button {
  display: flex;
  justify-content: right;
  margin: 0;
}

.review-btn {
  background: rgba(223, 220, 1, 1);
  color: rgba(74, 57, 157, 1);
  font-family: 'Handjet', sans-serif;
  padding: 10px 40px;
  font-size: 25px;
  font-weight: 700;
  line-height: 27.94px;
  letter-spacing: 0.05em;
  text-align: left;
  border: none;
  transition: 0.3s;
  cursor: pointer;
}

.review-btn:hover {
  background: rgb(160, 157, 1);
  transform: translateY(-2px);
}

.menu-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 570px;
}

.info-contact h2 {
  font-family: 'Handjet', sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 27.94px;
  letter-spacing: 0.05em;
  text-align: left;
  color: rgba(45, 38, 80, 1);
  margin-bottom: 0;
}

.info-contact h3 {
  font-family: 'Handjet', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 22.35px;
  letter-spacing: 0.05em;
  text-align: left;
  color: rgba(45, 38, 80, 1);
  text-align: left;
  margin: 12px 0 16px 0;
}

.info-img {
}

.img-text p {
  font-family: 'PT Sans', sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 12.94px;
  letter-spacing: 0.05em;
  text-align: right;
}

@media screen and (max-width: 1200px) {
  .logo-menu {
    display: none;
  }

  .logo-menu-small {
    display: block;
    position: absolute;
    right: -870px;
    bottom: 0px;
  }

  .header-container {
    min-width: 540px;
    margin: 0 auto;
  }

  .menu-search {
    display: none;
  }

  .header-menu-btn {
    max-width: 540px;
    margin: 0 auto;
  }

  .menu-grid {
    display: block;
  }
}

/* other-section */
.other-section {
}

.other-section-text {
  max-width: 700px;
  border-left: 10px solid #2d2650;
  margin-left: 165px;
  margin-top: 100px;
  margin-bottom: 80px;
}

.other-section-text p {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.29px;
  letter-spacing: 0.05em;
  text-align: left;
  margin-left: 32px;
}

.other-section-numbers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 165px;
  max-width: 890px;
  position: relative;
}

.numbers-one {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 116px;
  width: 116px;
  background-color: #dfdc01;
  border-radius: 100px;
  color: #ffffff;
  font-family: 'Handjet', sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 67.06px;
  letter-spacing: 0.05em;
}

.numbers-two {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 116px;
  width: 116px;
  background-color: #2d2650;
  border-radius: 100px;
  color: #ffffff;
  font-family: 'Handjet', sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 67.06px;
  letter-spacing: 0.05em;
}

.numbers-three {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 116px;
  width: 116px;
  background-color: #f5f5f5;
  border-radius: 100px;
  color: #2d2650;
  font-family: 'Handjet', sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 67.06px;
  letter-spacing: 0.05em;
}

.numbers-line {
  position: absolute;

  background: linear-gradient(
    90deg,
    #dfdc01 0%,
    #dfdc01 51.01%,
    #2d2650 57.84%,
    #f5f5f5 85.19%
  );

  height: 5px;
  width: 830px;
  z-index: -1;
}

.numbers-text {
}

.numbers-text h2 {
  font-family: 'Handjet', sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 27.94px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #2d2650;
  margin: 24px 0 0 0;
}

.numbers-text p {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.29px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #2b2a28;
  margin: 0 0 0 18px;
}

.other-section-title {
  display: flex;
  margin-left: 165px;
  gap: 130px;
  margin-bottom: 80px;
}

@media (max-width: 1410px) {
  .other-section-text {
    max-width: 400px;
  }

  .other-section-numbers {
    margin: 0 auto;
  }

  .other-section-title {
    display: flex;
    justify-content: space-around;

    margin: 0 auto;
  }

  .numbers-text {
    max-width: 150px;
  }
}

/* cards */

.section-card {
  position: relative;
  margin-bottom: 80px;
  transition: 0, 5s;
}

.section-card-up {
  position: absolute;
  top: 95px;
  right: 90px;
  cursor: pointer;
}

.section-card-up:hover {
  transform: translateY(-2px);
}

.section-card-title h2 {
  font-family: 'Handjet', sans-serif;
  font-size: 30px;
  font-weight: 900;
  line-height: 33.53px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #b1b3b3;
  text-transform: uppercase;
  margin-left: 165px;
}

.section-card-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(auto, 350px);
  justify-content: center;
  gap: 0;
  margin: 0 20%;
}

.cards-1,
.cards-2,
.cards-3 {
  max-width: 350px;
  padding: 74px 35px 0px 35px;
  height: 510px;
  position: relative;
}

.cards-1 p,
.cards-2 p,
.cards-3 p {
  font-family: 'Handjet', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 33.53px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #2d2650;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 265px;
}

.cards-1 {
  border-right: #f5f5f5 5px solid;
}

.cards-3 {
  border-left: #f5f5f5 5px solid;
}

@media screen and (max-width: 1100px) {
  .section-card-cards {
    display: block;
    max-width: 350px;
    gap: 0;
    margin: 0 auto;
  }

  .cards-1 {
    border-right: none;
  }

  .cards-3 {
    border-left: none;
  }
}

/* percent */

.section-percent {
  margin-bottom: 80px;
}

.percent-title h2 {
  font-family: 'Handjet', sans-serif;
  font-size: 30px;
  font-weight: 900;
  line-height: 33.53px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #b1b3b3;
  text-transform: uppercase;
  margin-left: 165px;
}

.percent-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 100px;
  justify-content: center;
  row-gap: 100px;
  margin: 0 20%;
}

.percent-card-1 h2,
.percent-card-2 h2,
.percent-card-3 h2,
.percent-card-4 h2 {
  color: #dfdc01;
  font-family: 'Press Start 2P', cursive;
  font-size: 140px;
  font-weight: 500;
  line-height: 157.5px;
  letter-spacing: 0.05em;
  text-align: left;
  margin: 0;
}

.percent-card-1 span,
.percent-card-2 span,
.percent-card-3 span,
.percent-card-4 span {
  color: #2d2650;
}

.percent-card-1 p,
.percent-card-2 p,
.percent-card-3 p,
.percent-card-4 p {
  background: linear-gradient(
    135.72deg,
    rgba(221, 221, 221, 0.4) 7.57%,
    rgba(223, 223, 223, 0.1) 56.52%
  );
  padding: 6px 32px;
  margin: 0;
  font-family: 'Handjet', sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 27.94px;
  letter-spacing: 0.05em;
  text-align: left;

  border: 1px solid;

  border-image-source: linear-gradient(
    135deg,
    rgba(223, 220, 1, 0.5) 0%,
    rgba(223, 220, 1, 0) 54.69%,
    rgba(255, 255, 255, 0) 78.12%,
    rgba(255, 255, 255, 0.2) 100%
  );
  border-radius: 7px;
  box-shadow: 0px 1px 24px -1px rgba(0, 0, 0, 0.1);
}

.percent-card-1,
.percent-card-2,
.percent-card-3,
.percent-card-4 {
  position: relative;
}

.percent-card-1 p {
  position: absolute;
  top: 110px;
  left: 70px;
}
.percent-card-2 p {
  position: absolute;
  top: 110px;
  left: 70px;
}

.percent-card-3 p {
  position: absolute;
  top: 110px;
  left: 50px;
}

.percent-card-4 p {
  position: absolute;
  top: 110px;
  left: 70px;
}

@media (max-width: 1000px) {
  .percent-cards {
    column-gap: 50px;
    row-gap: 50px;
    display: grid;
    grid-template-columns: repeat(1, 4fr);
  }
}

/* tool */

.tool-title h2 {
  font-family: 'Handjet', sans-serif;
  font-size: 30px;
  font-weight: 900;
  line-height: 33.53px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #b1b3b3;
  text-transform: uppercase;
  margin-left: 165px;
}

.tool-line-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin-bottom: 140px;
}

.tool-line-1 h2 {
  font-family: 'Press Start 2P', cursive;
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0.05em;
  text-align: left;
  color: rgba(43, 42, 40, 1);
}
.tool-line-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin-bottom: 80px;
}

.tool-line-2 h2 {
  font-family: 'Press Start 2P', cursive;
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0.05em;
  text-align: left;
  color: rgba(43, 42, 40, 1);
}

@media (max-width: 1000px) {
  .tool-line-1 h2 {
    font-size: 24px;
  }
  .tool-line-2 h2 {
    font-size: 24px;
  }
  .tool-line-2 span {
    font-size: 24px;
  }
}

.tool-line-2 > h2 > span {
  color: rgba(223, 220, 1, 1);
}

/* offer */

.section-offer {
  display: grid;
  grid-template-columns: repeat(1, 3fr);
  row-gap: 50px;
  margin: 0 auto 80px auto;
  max-width: 1050px;
}

.offer-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.block-info h2 {
  font-family: 'Handjet', sans-serif;
  font-size: 40px;
  font-weight: 900;
  line-height: 44.71px;
  letter-spacing: 0.05em;
  text-align: left;
  color: rgba(45, 38, 80, 1);
  text-transform: uppercase;
}

.block-info p {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.29px;
  letter-spacing: 0.05em;
  text-align: left;
  color: rgba(43, 42, 40, 1);
}

.offer-btn {
  background: rgba(223, 220, 1, 1);
  color: rgba(74, 57, 157, 1);
  font-family: 'Handjet', sans-serif;
  padding: 10px 40px;
  font-size: 25px;
  font-weight: 700;
  line-height: 27.94px;
  letter-spacing: 0.05em;
  text-align: left;
  border: none;
  transition: 0.3s;
  cursor: pointer;
}

.offer-btn:hover {
  background: rgb(160, 157, 1);
  transform: translateY(-2px);
}

@media (max-width: 1200px) {
  .block-info {
    max-width: 400px;
  }

  .offer-block {
    justify-content: center;
  }
}

/* partners */

.partners-title h2 {
  font-family: 'Handjet', sans-serif;
  font-size: 30px;
  font-weight: 900;
  line-height: 33.53px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #b1b3b3;
  text-transform: uppercase;
  margin: 0 0 56px 165px;
}

.partners-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-bottom: 80px;
}

.slider-block-1,
.slider-block-2,
.slider-block-3,
.slider-block-4,
.slider-block-5,
.slider-block-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-block-1 p,
.slider-block-2 p,
.slider-block-3 p,
.slider-block-4 p,
.slider-block-5 p,
.slider-block-6 p {
  font-family: 'Handjet', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 22.35px;
  letter-spacing: 0.05em;
  text-align: center;
  color: rgba(245, 245, 245, 1);
}

.slider-arrow {
  cursor: pointer;
  transition: all 0.1s ease;
}

.slider-arrow:hover {
  transform: translateY(-2px);
}

@media (max-width: 1250px) {
  .slider-block-5,
  .slider-block-6 {
    display: none;
  }
}

@media (max-width: 1100px) {
  .slider-block-3,
  .slider-block-4 {
    display: none;
  }
}

/* news */
.section-news {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.news-bg {
  background-image: url(/images/NewsBG.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 605px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-blocks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.news-card-1,
.news-card-2,
.news-card-3 {
  background-image: url(/images/imgNew.png);
  background-repeat: no-repeat;
  width: 350px;
  height: 270px;
  border: 5px solid rgba(245, 245, 245, 1);
  border-radius: 10px;
}

.news-card-data {
  margin-left: 30px;
  margin-top: 20px;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.12px;
  letter-spacing: 0.05em;
  text-align: left;
  color: rgba(245, 245, 245, 1);
}

.news-card-text {
  margin-top: 110px;
  margin-left: 30px;
  margin-right: 30px;
}

.news-card-text h2 {
  font-family: 'Handjet', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 22.35px;
  letter-spacing: 0.05em;
  text-align: left;
  color: rgba(245, 245, 245, 1);
}

.news-card-text p {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.12px;
  letter-spacing: 0.05em;
  text-align: left;
  color: rgba(245, 245, 245, 1);
}

.new-slider-arrow-left {
  cursor: pointer;
  transition: all 0.1s ease;
  margin-right: 20px;
}

.new-slider-arrow-left:hover {
  transform: translateY(-2px);
}

.new-slider-arrow-right {
  cursor: pointer;
  transition: all 0.1s ease;
  margin-left: 20px;
}

.new-slider-arrow-right:hover {
  transform: translateY(-2px);
}

@media (max-width: 1450px) {
  .news-card-3 {
    display: none;
  }

  .news-bg {
    margin: 0px;
    max-width: 700px;
  }
}

@media (max-width: 1000px) {
  .news-card-2 {
    display: none;
  }

  .news-bg {
    margin: 0px;
    max-width: 500px;
  }
}

/* write */

.write-title h2 {
  font-family: 'Handjet', sans-serif;
  font-size: 30px;
  font-weight: 900;
  line-height: 33.53px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #b1b3b3;
  text-transform: uppercase;
  margin: 0 0 56px 165px;
}

.write-form h2 {
  font-family: 'Handjet', sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 27.94px;
  letter-spacing: 0.05em;
  text-align: left;
  color: rgba(45, 38, 80, 1);
  margin: 0;
}

.write-form {
  max-width: 1110px;
  margin: 0 auto;
  padding: 40px 55px;
  box-shadow: 0px 1px 24px -1px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.form-input input {
  width: 100%;
  height: 30px;
  padding: 15px;
  gap: 10px;
  opacity: 0px;
  border: 2px solid rgba(153, 153, 153, 1);
  border-radius: 5px;
}

.form-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 66px;
  margin: 36px 0;
}

.form-comments {
  margin-bottom: 36px;
}

.form-comments input {
  width: 100%;
  height: 200px;
  padding: 15px;
  gap: 10px;
  opacity: 0px;
  border: 2px solid rgba(153, 153, 153, 1);
  border-radius: 5px;
}

.form-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.form-button p {
  font-family: 'PT Sans', sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 12.94px;
  letter-spacing: 0.05em;
  text-align: right;
  color: rgba(153, 153, 153, 1);
  margin-right: 32px;
}

.form-btn {
  background: rgba(223, 220, 1, 1);
  color: rgba(74, 57, 157, 1);
  font-family: 'Handjet', sans-serif;
  padding: 10px 40px;
  font-size: 25px;
  font-weight: 700;
  line-height: 27.94px;
  letter-spacing: 0.05em;
  text-align: left;
  border: none;
  transition: 0.3s;
  cursor: pointer;
}

.form-btn:hover {
  background: rgb(160, 157, 1);
  transform: translateY(-2px);
}

@media (max-width: 1450px) {
  .write-form {
    max-width: 700px;
  }
}

/* footer */

.vector-block {
  background-image: url(/images/VectorFooter.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 275px;
  margin-top: 100px;
}

.footer-block {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 0 auto;
  max-width: 1110px;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 50px;
}

.footer-grid-item h2 {
  font-family: 'Handjet', sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 27.94px;
  letter-spacing: 0.05em;
  text-align: left;
  color: rgba(45, 38, 80, 1);
}

.footer-grid-item a {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.12px;
  letter-spacing: 0.05em;
  text-align: left;
  color: rgba(43, 42, 40, 1);
  text-decoration: none;
  transition: 0, 3s;
  display: flex;
}

.footer-grid-item a:hover {
  color: rgb(94, 92, 88);
}

.footer-info {
  text-align: right;
}

.footer-info h2 {
  font-family: 'Handjet', sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 27.94px;
  letter-spacing: 0.05em;
  text-align: left;
  color: rgba(45, 38, 80, 1);
  margin-bottom: 0;
}

.footer-info h3 {
  font-family: 'Handjet', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 22.35px;
  letter-spacing: 0.05em;
  text-align: left;
  color: rgba(45, 38, 80, 1);
  text-align: right;
  margin: 12px 0 16px 0;
}

.footer-info p {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.12px;
  letter-spacing: 0.05em;
  text-align: right;
  color: rgba(43, 42, 40, 1);
}

.info-img img {
  cursor: pointer;
}

.footer-line {
  margin: 0 auto;
  max-width: 990px;
  border: 2px solid rgba(223, 220, 1, 1);
}

.footer-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1100px;
  padding: 30px 0 30px 0;
}

.footer-text h2 {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.12px;
  letter-spacing: 0.05em;
  text-align: right;
  color: rgba(85, 84, 84, 1);
}
